.parallax_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
  background: rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  font-weight: bold;
  border-bottom: 2px solid black;
}
