.modal-container {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    transition: transform 500ms ease;


    &--show {
        transform: translateY(0);
    }

    &--hide {
        transform: translateY(-100vh);
    }
}