.card-container {
  background: #294a6f;
  width: 100%;
  height: 100%;

  &--image {
    position: relative;
    width: 100%;
    flex: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 2rem;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.5rem;
    flex: 1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &--key {
      font-weight: bold;
      font-size: 1.5rem;
      color: #ecf0f1;
      flex: 1;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
    }

    &--data {
      font-size: 1rem;
      color: #b3b6b7;
      flex: 1;
      text-transform: capitalize;
    }
  }
}
