.page-intro {
  height: 65vh;
  position: relative;
  width: 100vw;

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__title {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    z-index: 10;
  }


}